# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
/dist
stats.html

# misc
.DS_Store
.env
.env.local
.env.production.local

# package manager
.npmrc
yarn-error.log

#next 
.next
next-env.d.ts